target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

/logs
/zogs/sql
/zogs/*

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
src/main/java/org.kx.util/ssh
src/test/java/com/xian/test
src/main/resources/mingwen
src/main/resources/miwen